.content_for_about_us{
    padding: 110px 150px 70px 140px;
    background-color: #8BABB6;
}
.content_for_about_us p{
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 30px;
}
.content_for_about_us p b{
    font-weight: 600;
}