@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400);

body
{
    width: 1200px;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 36px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 17px;
    background-color: #E7E7E7;
}
.clear{
    clear: both;
}
header nav{
    background: linear-gradient(to right, #D3D5D5, #578D9D 100%) repeat scroll 0% 0% transparent;
    position: relative;
    height: 57px;
}
.nav_logo{
    width: 220px;
    height: 207px;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.5);
    background: url("../images/nav_logo.png")no-repeat 24px -4px, #FFF;
    position: absolute;
    top: 0;
    left: 130px;
    z-index: 10;
}
header nav > ul{
    float: left;
    margin-left: 385px;
}
header nav > ul li{
    float: left;
    margin-right: 10px;
}
header nav > ul li a{
    display: block;
    padding: 20px 15px 13px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 12px;
}
header nav > ul li a:hover, .lag_choose ul li a:hover{
    color: #159bd6;
}
.nav_active{
    border-bottom: 7px solid #159bd6;
}
.phone{
    margin-top: 15px;
    float: left;
    width: 200px;
    height: 27px;
    font-size: 20px;
    color: #FFF;
    text-align: right;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    line-height: 26px;
    background: url("../images/phone.png")no-repeat left 0;
}
.lag_choose{
    overflow: hidden;
}
.lag_choose ul{
    float: right;
    margin-right: 20px;
}
.lag_choose ul li{
    float: left;
    margin-left: 10px;
}
.lag_choose ul li a{
    display: block;
    text-transform: uppercase;
    padding: 20px 0 15px;;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: black;
}
.lag_active{
    border-bottom: 5px solid #ffffff;
}
.slider-box{
    position: relative;
}
.slider-box .rslides{
    float: left;
}
.slider-content{
    float: right;
    width: 519px;
    height: 310px;
    padding-top: 76px;
    z-index: 10;
    background-color: #ffffff;
    position: relative;
}
.slider-content:after, .slider-content:before {
    right: 100%;
    top: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 10;
}
.slider-content:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 193px 115px 193px 0;
    border-color: transparent #ffffff transparent transparent;
    z-index: 10;
}
.slider-content img{
    float: left;
}
.slider-content h2{
    color: #6D6D6D;
    line-height: 41px;
    font-size: 34px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin: 18px 132px;
}
.slider-content h2 span{
    color: #66C861;
}
.slider-content p{
    margin-top: 36px;
    width: 400px;
    line-height: 28px;
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.slider-content p span{
    color: #169BD6;
    font-weight: 600;
}
.slider-content p b{
    font-weight: 600;
}
.grad_line{
    background: linear-gradient(to right, #D3D5D5, #578D9D 100%) repeat scroll 0% 0% transparent;
    height: 25px;
}
.section_content{
    background-color: #ffffff;
    width: 557px;
    height: 322px;
    padding: 70px 26px 0 110px;
    z-index: 10;
    position: relative;
}
.section_content:after, .section_content:before {
    left: 100%;
    top: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 10;
}
.section_content:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 199px 0 193px 115px;
    border-color: transparent  transparent transparent #ffffff;
    z-index: 10;
}
.section_content h2{
    color: #169BD6;
    line-height: 41px;
    font-size: 34px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}
.section_content p{
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
}
.section_content p b{
    font-weight: 600;
}
section{
    position: relative;
}
section > img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    height: 392px;
}
footer{
    background: linear-gradient(to right, #385E69 12%, #365B66) repeat scroll 0% 0% transparent;
}
.footer_content{
    background: linear-gradient(to bottom, rgba(108, 180, 190, 0.44), rgba(0, 255, 255, 0) 100%) repeat scroll 0% 0% transparent;
    height: 210px;
    overflow: hidden;
}
.footer_content > h2, .footer_find_us h2, .footer_mail h2{
    line-height: 29px;
    font-size: 24px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 60px 0 0 137px;
    float: left;
}
.footer_find_us{
    float: left;
    width: 200px;
    padding: 60px 0 15px 75px;
}
.footer_find_us h2{
    padding: 0 0 15px 0;
}
.footer_find_us ul, .footer_mail ul{
    float: left;
}
.footer_find_us ul li{
    margin-bottom: 10px;
}
.footer_find_us ul li a, .footer_mail ul li a{
    display: block;
    padding: 5px 0 5px 36px;
    font-size: 12px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.footer_find_us ul li:nth-child(1){
    background: url("../images/facebook.png") no-repeat -3px -5px;
}
.footer_find_us ul li:nth-child(2){
    background: url("../images/linkedin.png") no-repeat -3px -5px;
}
.footer_mail ul li:nth-child(1){
    background: url("../images/email.png")no-repeat -3px -5px;;
}
.footer_mail{
    width: 181px;
    padding: 60px 0 15px 95px;
    float: left;
}
.footer_mail h2{
    padding: 0;
}
.footer_mail ul li a{
    font-size: 15px;
    margin-top: 14px;
}
.footer_content img{
    float: right;
    margin: 20px 115px 0px 0px;
}
.footer_footer{
    background: rgba(77,134,144,1);
    background: -moz-linear-gradient(left, rgba(77,134,144,1) 0%, rgba(53,93,104,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(77,134,144,1)), color-stop(100%, rgba(53,93,104,1)));
    background: -webkit-linear-gradient(left, rgba(77,134,144,1) 0%, rgba(53,93,104,1) 100%);
    background: -o-linear-gradient(left, rgba(77,134,144,1) 0%, rgba(53,93,104,1) 100%);
    background: -ms-linear-gradient(left, rgba(77,134,144,1) 0%, rgba(53,93,104,1) 100%);
    background: linear-gradient(to right, rgba(77,134,144,1) 0%, rgba(53,93,104,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d8690', endColorstr='#355d68', GradientType=1 );
    height: 50px;
}
.footer_footer p{
    line-height: 14px;
    font-size: 12px;
    color: #FFF;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 18px 0 0 145px;
    float: left;
}
.footer_footer img{
    float: left;
    margin: 5px 0 0 160px;
}
.footer_footer .phone{
    float: right;
    margin-right: 100px;
    margin-top: 12px;
    background: url("../images/phone_white.png")no-repeat left -5px;
}