.slider-content h2 {
    margin: 0 0 0 132px;
}
.slider-content p {
    width: 450px;
    margin-top: 22px;
}
header nav > ul li {
    margin-right: 3px;
}
.lag_choose ul {
    margin-right: 8px;
}