.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 681px;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 681px;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    float: left;
    width: 681px;
    height: 386px;
    border: 0;
}