.rslides2{
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    height: 600px;
    padding: 0 0 0 0;
    margin: 0;
}

.rslides2 li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    height: 600px;
    left: 0;
    top: 0;
}

.rslides2 li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides2 img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    height: 600px;
    border: 0;
}



#slider3 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}

.rslides_tabs {
    font-size: 18px;
    list-style: none;
    margin: 70px auto 0;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 14px;
}

.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255,255,255,.1);
    color: #fff;
    font-weight: bold;
}

#slider2-pager a {
    display: inline-block;
}

#slider2-pager img {
    float: left;
}

#slider2-pager .rslides_here a {
    background: transparent;
    box-shadow: 0 0 0 2px #666;
}

#slider2-pager a {
    padding: 0;
}
