.slider-banner{
    width: 480px;
    height: 75px;
    background: #ffffff;
    color: #159BD6;
    text-align: center;
    position: absolute;
    left: 115px;
    bottom: -440px;
    z-index: 10;
    font-size: 44px;
    line-height: 71px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
}
.triangle-for-banner {
    z-index: 10;
    width: 0;
    height: 0;
    border-bottom: 21px solid black;
    border-right: 22px solid transparent;
    position: absolute;
    left: 595px;
    bottom: -386px;
}
.content_for_sectors{
    background-color: #8BABB6;
    padding: 60px 110px;
}
.content_for_sectors ul{
    overflow: hidden;
}
.content_for_sectors ul li{
    width: 456px;
}
.content_for_sectors ul li:nth-child(4){
    float: right;
    margin-top: -737px;
    width: 510px;
}
.content_for_sectors ul li h2{
    margin-top: 60px;
    line-height: 34px;
    font-size: 28px;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin-bottom: 60px;
}
.content_for_sectors ul li h2 span{
    float: left;
    margin-right: 10px;
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    text-align: center;
    background: rgba(30,157,212,1);
    background: -moz-linear-gradient(top, rgba(30,157,212,1) 0%, rgba(85,197,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(30,157,212,1)), color-stop(100%, rgba(85,197,249,1)));
    background: -webkit-linear-gradient(top, rgba(30,157,212,1) 0%, rgba(85,197,249,1) 100%);
    background: -o-linear-gradient(top, rgba(30,157,212,1) 0%, rgba(85,197,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(30,157,212,1) 0%, rgba(85,197,249,1) 100%);
    background: linear-gradient(to bottom, rgba(30,157,212,1) 0%, rgba(85,197,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e9dd4', endColorstr='#55c5f9', GradientType=0 );
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    line-height: 34px;
    font-size: 28px;
    color: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}
.content_for_sectors ul li p{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color:black;
    margin-left: 48px;
}
.content_for_sectors ul li p b{
    font-weight: 600;
}